.DS_Store
analyses/data/RNA_raw_data/
analyses/data/RNA_trimmed_data/
analyses/data/WGS_trimmed_data/

# ./analyses/01_PacBio_genome_assembly #
analyses/01_PacBio_genome_assembly/*
!analyses/01_PacBio_genome_assembly/durian-pacbio/durian.report
#analyses/05_Tophat_Mapping_RNA/
